absl-py
backcall
blinker
brotlipy
cached-property
cachetools
certifi
cffi
chardet
click
cryptography
cycler
Cython
dataclasses
decorator
# -e /home/guoshi/Denoise/GCP-Net-conv-adaptive/codes/models/archs/dcn (handle this based on your setup)
flow-vis
future
google-auth
google-auth-oauthlib
grpcio
h5py
idna
imageio
importlib-metadata
ipdb
ipython
ipython-genutils
jedi
kiwisolver
lmdb
Markdown
matplotlib
natsort
numpy
oauthlib
olefile
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pyflow
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-plugin-wit
toml
torch
torchvision
traitlets
typing-extensions
urllib3
wcwidth
Werkzeug
zipp
